body{
    background-image: url(images/IMG_1871.PNG);
    background-size: cover;
    min-height: 100vh;
  }

  .btn-huge-text{
      position: absolute;
      top: 50%;
      left: 43%;
      font-size: 55px;
  }

