body{
    background-image: url('images/1481576.jpg');
    background-size: cover;
    min-height: 100vh;
  }
  
  .skeleton-move{
    max-width: 600px;
    position: absolute;
    top: 30%;
    left: 35%;
  }
  .left{
    animation: left 2s forwards;
  }

  @keyframes left{
    0%{
      left: 45%;
    }

    100%{
      left: -10%;
    }
  }


  .right{
    animation: right 2s forwards;
    transform: scaleX(-1);
  }

  @keyframes right{
    0%{
      left: 45%;
    }

    100%{
      left: 110%;
    }
  }

  .btn{
    position: absolute;
    bottom: 10%;
    background: white;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
    color: green;
    cursor:pointer;
  }
  .btn-right{
    right: 10%;
  }
  .btn-left{
    left: 10%;
  }